<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Composition</title>
</head>
<body>

	<h1>{{.Name}}</h1>
	<h2>{{.Age}}</h2>
	<h3>{{.SomeProcessing}}</h3>
	<h3>{{.AgeDbl}}</h3>
	<h3>{{.AgeDbl | .TakesArg }}</h3>

</body>
</html>
