<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Exercise #2</title>
</head>
<body>

	{{range .}}
		Region: {{.Name}}
		{{range .Hotels}}
			{{.Name}} - {{.Address}} - {{.City}} - {{.Zip}}
		{{end}}
	{{end}}
</body>
</html>